/* .carousel {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* border: 2px solid black; */
/* } */

/* .carouselItem {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    /* width: 100%; */
/* } */ 

/* .carouselItem img { */
    /* width: 100%; */
/* } */ 
